* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.767)),
      url("../../assets/images/match.png");
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    mix-blend-mode: luminosity;
  
    .text {
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .text1 {
        color: #fff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .text2 {
        color: #ff7800;
        font-family: "Inter", sans-serif;
  
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .match {
      padding-top: 44px;
      display: flex;
      justify-content: space-between;
  
      .chelsea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h2 {
          color: #fff;
          font-family: "Inter", sans-serif;
  
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .vs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
  
        h2 {
          color: #fff;
  
          font-family: "Inter", sans-serif;
  
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
      .manchesteru {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h2 {
          color: #fff;
          font-family: "Inter", sans-serif;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .button {
      padding-top: 25px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        border-radius: 20px;
        background: var(--Orange, #ff7800);
        border: none;
        color: #fff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 5px 50px;
      }
    }
  }
  .smallBackground {
      
    .control {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text {
        display: none;
      }
      .match {
          padding-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .chelsea {
          img{
              width: 50px;
          }
          h2 {
            display: none;
          }
        }
        .vs {
          h2 {
            display: none;
          }
        }
        .manchesteru {
          img{
              width: 50px;
          }
          h2 {
            display: none;
          }
        }
      }
      .button {
          padding-top: 0;
          padding-bottom: 0;
        button {
          color: #fff;
          text-align: center;
          font-family: "Inter", sans-serif;
          border-radius: 20px;
          background: var(--Orange, #FF7800);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 5px 20px;
        }
      }
    }
  }
  .background1 {
    .vector {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      cursor: pointer;
    }
    .upcoming {
      padding-top: 6px;
      h2 {
        color: var(--Dark-Grey, #484848);
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .controlmaps {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto; 
      max-height: 500px;
  
      .mapbackground {
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.25);
        .matchdate {
          padding: 10px;
          h2 {
            color: var(--Orange, #ff7800);
            font-family: "Inter", sans-serif;
  
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .matchname {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          .rival {
            display: flex;
            align-items: center;
            gap: 10px;
            h2 {
              color: #767676;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .minus {
            h2 {
              color: #767676;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .mapchelsea {
            display: flex;
            align-items: center;
            gap: 10px;
            h2 {
              color: #767676;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  