* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.767)),
    url("../../assets/images/match.png");

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  mix-blend-mode: luminosity;
  padding-bottom: 50px;
  .control {
    padding-top: 38px;
    .text {
      h2 {
        color: #fff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .user {
      display: flex;
      align-items: center;
      padding-top: 25px;
      .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        img {
          object-fit: cover;
        }
        h2 {
          color: #fff;

          font-family: "Inter", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .hr {
        hr {
          rotate: 90deg;
          width: 100px;
          background: #fff;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 11px;
        .infotext {
          h2 {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .infoimages {
          display: flex;
          align-items: center;
          gap: 10px;
          h2 {
            color: #fff;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
  }
}
.flexslog {
  padding-top: 30px;
  .log1 {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.25);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    h2 {
        color: var(--Dark-Grey, #484848);
        font-family: "Inter", sans-serif;
  
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
  }
  .log2 {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.25);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    margin-top: 20px;

    h2 {
      color: var(--Dark-Grey, #484848);
      font-family: "Inter", sans-serif;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
