* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.767)),
      url("../../assets/images/match.png");
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 50px;
    .text {
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .backicon{
        cursor: pointer;
      }
      .backarrow {
        display: flex;
        gap: 15px;
        .text1 {
          color: #fff;
          text-align: center;
          font-family: "Inter", sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .text2 {
          color: #ff7800;
          font-family: "Inter", sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .match {
      padding-top: 44px;
      display: flex;
      justify-content: space-between;
  
      .chelsea {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h2 {
          color: #fff;
          font-family: "Inter", sans-serif;
  
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .vs {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
        h1 {
          color: var(--Orange, #ff7800);
          font-family: "Inter", sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        h2 {
          color: #fff;
          font-family: "Inter", sans-serif;
  
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .manchesteru {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h2 {
          color: #fff;
          font-family: "Inter", sans-serif;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .button {
      padding-top: 25px;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border-radius: 20px;
        background: var(--Orange, #ff7800);
        border: none;
        color: #fff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 5px 50px;
      }
    }
  }
  .background1 {
    .controltext {
      padding-top: 20px;
      .headertext {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        .trackeractive {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          .blueHR {
            border: 1px solid #ff7800;
          cursor: pointer;

          }
  
          .blueText {
            color: var(--Dark-Grey, #484848);
            font-family: "Inter", sans-serif;
          cursor: pointer;
  
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
          }
        }
  
        h2 {
          color: var(--Gray-3, #828282);
          font-family: "Inter", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .trackercontrol {
      .controlstadion {
        padding-top: 28px;
        .divs {
          position: relative;
          .svg1 {
            position: absolute;
            z-index: 99;
            left: 12%;
            top: 30%;
          }
          .svg2 {
            position: absolute;
            z-index: 99;
            left: 20%;
            top: 56%;
          }
          .svg3 {
            position: absolute;
            z-index: 99;
            left: 34%;
            top: 16%;
          }
          .svg4 {
            position: absolute;
            z-index: 99;
            left: 66%;
            top: 36%;
          }
          .svg5 {
            position: absolute;
            z-index: 99;
            left: 86%;
            top: 49%;
          }
          .svg6 {
            position: absolute;
            z-index: 99;
            left: 76%;
            top: 76%;
          }
          .svg7 {
            position: absolute;
            z-index: 99;
            left: 49%;
            top: 46%;
          }
          img {
            object-fit: cover;
          }
          .img {
            width: 100%;
          }
        }
      }
    }
    .logcontrol {
   
      .flexslog {
        .log1 {
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.25);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px;
          h3 {
            color: var(--Gray-4, #bdbdbd);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          h2 {
            color: var(--Dark-Grey, #484848);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          h1 {
            color: var(--Orange, #ff7800);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .log2 {
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.25);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px;
          margin-top: 20px;
          h3 {
            color: var(--Gray-4, #bdbdbd);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          h2 {
            color: var(--Dark-Grey, #484848);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          h1 {
            color: var(--Orange, #ff7800);
            font-family: "Inter", sans-serif;
  
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        
      }
    }
  }
  